.arc {
    overflow: hidden;
    animation: changDeg 1s infinite linear;

    &-bg {
        stroke: #e5e6eb;
    }

    &-line {
        stroke: $primary-success-color;
    }
}

@keyframes changDeg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
