@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexStartCenter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flexBetweenCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexBetweenStart {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@mixin flexAroundCenter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin flexBetweenCenterWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@mixin flexAroundCenterWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@mixin flexStart {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin flexStartWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin flexStartCenterWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

@mixin flexEndCenter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexColumnAroundCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

@mixin flexColumnStartCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@mixin flexColumnBetween {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin flexColumnBetweenStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@mixin flexColumnBetweenEnd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

@mixin flexColumnJustifyStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@mixin flexColumnJustifyEnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

@mixin flexColumnStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin flexColumnItemsStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
